* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

/* Header Component */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  color: gray;
  font-size: 1.1em;
  font-weight: 400;
  z-index: 2;
  position: fixed;
  top: 0;
}

/*  Nav-Links */
header .nav-links {
  list-style: none;
  padding: 30px 20px;
  position: absolute;
  top: 110px;
  margin: auto;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  display: none;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

/* Nav-Toggle */
.nav-toggle {
  display: none;
}

.nav-toggle:checked + .nav-toggle-label .nav-toggle-open {
  display: none;
  cursor: pointer;
}

.nav-toggle:checked + .nav-toggle-label .nav-toggle-close {
  display: block;
  cursor: pointer;
}

.nav-toggle:checked + .nav-toggle-label + .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 100px 150px #000;
}

.nav-toggle-label img {
  display: block;
  max-width: 30px;
  max-height: 30px;
}

.nav-toggle:not(:checked) + .nav-toggle-label .nav-toggle-open {
  display: block;
  cursor: pointer;
}

.nav-toggle:not(:checked) + .nav-toggle-label .nav-toggle-close {
  display: none;
  cursor: pointer;
}

/* Butttons  */
header .btn {
  display: none;
}

/* Main Section */

main {
  background-color: rgba(250, 250, 250, 255);
  width: 100%;
  overflow: hidden;
}

/* Bg Section */
.bg-intro {
  width: 100%;
  background-image: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-intro .image-mockups {
  width: 100%;
  margin-top: -20%;
}
/* Heading Section */
.heading {
  width: 100%;
  text-align: center;
  padding-bottom: 45px;
}

.heading .title {
  font-size: 2.1em;
  padding: 5px 10px;
}

.description {
  margin-top: 30px;
  padding: 10px 10px;
  line-height: 30px;
  padding: 10px 10px;
  color: grey;
  font-size: 0.8em;
}

/* Heading Btn */
.btn {
  display: block;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.mobile_btn {
  margin: auto;
}

.btn:hover {
  opacity: 0.7;
}

header .btn {
  margin: auto;
}
/* Easy Choose Section Start */
.choose-easybank {
  background-color: rgba(250, 250, 250, 255);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.choose_content {
  margin-top: 50px;
}

.choose_content div {
  padding: 10px;
}

.heading_choose {
  font-size: 1.8em;
  word-wrap: normal;
  padding: 0px 22px;
}

.sub_title {
  margin-top: 25px;
  font-size: 1.1em;
  color: #000;
}
/* Latest Article Styling */

.latest_articles {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
}

#latest_heading {
  text-align: center;
  font-size: 1.5em;
}

.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
}

.card img {
  aspect-ratio: 1.5/1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-content {
  padding: 10px 20px;
  color: gray;
}

.written_by {
  font-size: 0.8em;
}

.card_description {
  font-size: 0.9em;
}
.card_title {
  margin-bottom: 15px;
}

.card_title:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

/* Footer Section */

footer {
  background-color: #2d314e;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: "Public Sans";
  overflow-y: visible;
  overflow-x: hidden;
}

.footer_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 20px;
}

.social_links img {
  min-width: 25px;
  margin: 0px 5px;
}

.social_links img:hover {
  background-color: hsl(136, 65%, 51%);
}

.footer_links ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.footer_links li:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.footer_btn {
  padding: 14px 40px;
  margin: auto;
}
.btn_copy {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 30px;
}

.copyright {
  text-align: center;
  color: gray;
  font-size: 0.9em;
}
/* Media Query */

@media screen and (min-width: 500px) {
  header {
    padding: 30px;
  }
  .description {
    font-size: 1em;
  }

  .intro_description {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  header {
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
  }

  header img {
    margin: auto;
  }

  header .nav-links {
    display: flex;
    position: static;
    width: fit-content;
    margin: auto;
  }
  .nav-links li a {
    padding: 0px 20px;
    padding-bottom: 10px;
    color: gray;
    transition: all 0.3s ease;
  }

  .nav-links li a:hover {
    border-bottom: 4px solid hsl(136, 65%, 51%);
    color: #000;
    transform: scale(2, 3);
  }

  .nav-toggle-label {
    display: none;
  }

  header .btn {
    display: block;
  }

  .mobile_btn {
    margin: 0px;
  }

  .nav-toggle-label img {
    display: none;
  }

  .banner_container {
    display: flex;
    background-color: #fff;
    margin-top: 121px;
  }

  .heading {
    margin: auto;
    padding: 0px 110px;
    text-align: left;
  }

  .heading .title {
    font-size: 2.5em;
  }

  .bg-intro .image-mockups {
    margin-left: 18%;
    margin-bottom: -12%;
  }
  .heading,
  .bg-intro {
    width: 50%;
  }

  .bg-intro {
    order: 1;
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 190% 140%;
    background-position: bottom -25px left -90px;
  }

  .heading_choose {
    padding: 0px;
  }

  .choose-easybank {
    text-align: left;
    padding: 100px 120px;
    margin-top: -80px;
  }

  .choose_description {
    width: 40%;
    padding: 0px;
  }

  .intro_description {
    margin: 0px;
  }

  .choose_content {
    display: flex;
    justify-content: space-between;
  }

  .choose_content div {
    padding: 0px;
    width: 20%;
  }

  .choose_content .description {
    padding: 10px 0px;
  }

  .latest_articles {
    text-align: left;
    padding: 120px 120px;
  }

  #latest_heading {
    text-align: left;
    font-size: 2em;
  }

  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0px;
  }

  .card {
    width: 20%;
    margin: 0px;
    margin-top: 20px;
    background-color: #fff;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  .footer_upper {
    row-gap: 45px;
  }

  .footer_links {
    columns: 2;
    column-gap: 100px;
  }

  .footer_links ul {
    padding: 10px;
  }
}